.logo {
  width: 55px;
}

.search-box {
  width: 25vw;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  box-shadow: 0px 2px 6px lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  align-items: center;
  background-color: white;
}

.header-li {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: medium;
  border-bottom: 5px solid white;
  cursor: pointer;
}
.hidden-div {
  display: flex;
  justify-content: center;
}

.header-li:hover {
  border-bottom: 5px solid orchid;
}

.header-li:hover .hidden-div {
  width: auto;
  height: auto;
  display: block;
  position: absolute;

  left: 4vw;
  z-index: 1;
  top: 90px;
  background-color: white;
}
.dropdown-banner {
  height: 40vh;
}
.Explore-btn {
  /* position: relative; */
  margin: auto;
  /* left: 33%; */
  padding: 10px;
  background-color: transparent;
  border: 2px ridge;
}
.xplore-studio {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
ul li:hover {
  cursor: pointer;
  font-weight: 600;
}

.category-table-2,
.bestOfClothing1,
.category-table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.category-table-images {
  width: 18vw;
}

.play-store-image {
  width: 100px;
}
.bestbyCategory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bestbyCategory-card {
  width: 17vw;
  margin: -5px;
}
body {
  height: auto;
  overflow-x: hidden;
}
.main-content {
  margin-top: 100px;
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
}
.banner-image {
  width: 90%;
  margin: 0% 5%;
}
.footer-part {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(248, 245, 245);
}

.footer-ul {
  font-size: 1rem;
}
.footer-icon {
  width: 20px;
  height: 20px;
}
.header-toggle-btn {
  padding: 7px;
  background-color: transparent;
  border: 1px ridge;
  font-size: large;
  cursor: pointer;
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: purple;
  border-radius: 10px;
}
@media screen and (max-width: 1132px) {
  body {
    margin: 0;
  }
  header {
    width: 90%;
    padding: 0% 5%;
  }
  .hundred-percent,
  .header-li {
    display: none;
  }
  .header-toggle-btn {
    display: block;
    margin-left: 7px;
  }
  .footer-ul {
    font-size: 0.5rem;
  }
}
