.logo {
  width: 55px;
}

.search-box {
  width: 25vw;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  box-shadow: 0px 2px 6px lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  align-items: center;
  background-color: white;
}

body,
html {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  align-content: center;
}

.header-li {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: medium;
  border-bottom: 5px solid white;
  cursor: pointer;
}
.hidden-div {
  display: flex;
  justify-content: center;
}

.header-li:hover {
  border-bottom: 5px solid orchid;
}

.header-li:hover .hidden-div {
  width: auto;
  height: auto;
  display: block;
  position: absolute;

  left: 4vw;
  z-index: 1;
  top: 90px;
  background-color: white;
}
.dropdown-banner {
  height: 40vh;
}
.Explore-btn {
  /* position: relative; */
  margin: auto;
  /* left: 33%; */
  padding: 10px;
  background-color: transparent;
  border: 2px ridge;
}
.xplore-studio {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
ul li:hover {
  cursor: pointer;
  font-weight: 600;
}
.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: auto;
}

.banner-image-1 {
  width: 100%;
}
.banner-image {
  width: 100%;
}
.category-table {
  display: flex;
  margin: -5px;
  flex-wrap: wrap;
  justify-content: center;
}
.category-table-2,
.bestOfClothing1 {
  display: flex;
}
.category-table-image,
.bestOfClothing1-card {
  width: 100%;
}
.categoryData-card {
  padding: -5px;
}
.header-toggle-btn {
  display: none;
}

li::selection {
  color: red;
  background-color: lightcyan;
}
.play-store-image {
  height: 50px;
}

.bestbyCategory {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: -5px;
}
.bestbyCategory-card {
  width: 17vw;
  margin: -5px;
}
footer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 245, 245);
}

@media screen and (max-width: 792px) {
  .bestbyCategory-card {
    width: 48%;
  }
  .header-part-1 li {
    display: none;
    width: 100%;
  }
}

@media screen and (max-width: 1132px) {
  header {
    padding-right: 40px;
    padding-left: 10px;
  }
  .header-part-1 li {
    font-size: 13px;
  }
  .banner-image {
    width: 100%;
  }
  .category-table-2,
  .bestOfClothing1 {
    display: flex;
    flex-direction: column;
  }
  .header-toggle-btn {
    display: block;
    margin-left: 7px;
  }
}
